<%- contentFor('body') %>
<div class="wrapper">
<div class="userContainer">
  <div class="userInfo table">
    <div id="titley">
    <%= users[0].user_name %>
    </div>
    <br>

  </div>
  <div class="sellingInfo">
  <table class="table table-hover">
  <div class="title">Items for sale:</div>
  <thead>
    <tr>
      <th>Image</th>
      <th></th>
      <th>Item</th>
      <th>Description</th>

    </tr>
  </thead>
  <tbody>
    <a href="/items/addItem" id="newItem"type="submit">
      +
    </a>
    <% for(var i = 0; i < users.length; i++) { %>

    <tr class="table-hover">

      <td id = "imagePad"><img id = "imagey" src="https://multimedia.bbycastatic.ca/multimedia/products/1500x1500/102/10262/10262918.jpg"><td>
      <td><%=users[i].name%></td>
      <td><%=users[i].description%></td>

      <td>
          <a href="/items/search" class="btn btn-primary btn-lg" type="submit" id="userButtons" style="background-color:#699837;">
            <div id="haggleText">Edit</div>
          </a>
      </td>

      <td>

          <a href="items/remove/:id" class="btn btn-primary btn-lg" type="submit" id="userButtons" style="background-color:#BD321F;">
            <div id="haggleText">Delete</div>
          </a>
        </td>
    </tr>

    <% } %>

  </tbody>
  </table>
  </div>
  <div class="sellingInfo">
  <table class="table table-hover">
  <div class="title">Selling:</div>
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>Item</th>
      <th>Haggle $</th>
      <th>Buyer Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < selling.length; i++) { %>
    <tr class="table-hover">
      <td><img src="<%=selling[i].img_url%>"><td>
      <td><%=selling[i].item_name%></td>
      <td>$<%=selling[i].haggle_price%></td>
      <td><%=selling[i].buyer_name%></td>
      <td><%=selling[i].status%></td>
    </tr>

    <% } %>

  </tbody>

  </table>
  </div>
  <div class="buyingInfo">
    <table class="table table-hover">
      <div class="title">Haggling:</div>
      <thead>
      <tr>
        <th></th>
        <th>Image</th>
        <th>Item</th>
        <th>Haggle $</th>
        <th>Seller Name</th>
        <th>Location</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < buying.length; i++) { %>
        <tr>
          <td><img src="<%=buying[i].img_url%>"><td>
          <td><%=buying[i].item_name%></td>
          <td>$<%=buying[i].haggle_price%></td>
          <td><%=buying[i].seller_name%></td>
          <td><%=buying[i].city%></td>
          <td><%=buying[i].status%></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
</div>
